@charset "utf-8";
.benefits .bf_title,.benefits .bf_item .s,.screening .open_close .screening_icon,.screening .bd .item .s,.m_filter .item,.m_filter .item .s,.m_filter .item .icon,.list_content .sub,.list_content .main .huxing,.list_content .extra .zt,.woyao_zb,.woyao_zb .bd .menu,.module_zb .hd,.zb_phb .item s,.zb_detail_head .thd .sub,.zb_detail_head .thd .main .zt,.zb_detail_head .thd .extra .icon,.zb_detail_head .tbd .huxing,.zb_detail_head .tbd .link s,.zb_detail_head .tbd .yzzl .hd s,.zb_detail_jysm .hd li,.zb_detail_content .filter .select,.zb_detail_content .myTB,.zb_detail_content .bd .item .i_hd,.zb_detail_content .bd .main .time,.table_bj .head td,.table_bj .zongjia_icon,.zb_detail_content .bd .baojia .bj_hd .s,.zb_detail_content .bd .fujian .bj_hd .s,.zb_detail_content .bd .liuyan .bj_hd .s,.tips_jifen .icon,.zb_form .b_hd .s,.zb_form .comment .sumbit,.zb_form2 .t_hd .s,.zb_form2 .item .maps .link s,.zb_form2 .item .submit_s,.zb_form2 .sub .p_nav .select s,.zb_form2 .sub .p_nav .select,.zb_form2 .main .bd .t_item .menu { background:url(../Images/zhaobiao_sp.png) no-repeat 0 0;}

.col_main { float:left; width:100%;}
.col_sub,.col_extra { float:left;}
.grid_01 .main_wrap { margin:0 250px 0 0;}
.grid_01 .col_sub { margin-left:-240px; width:240px;}

.benefits { margin:10px 0 0;}
.benefits .bf_title { display:block; width:315px; height:29px; font:0pt/1000px Arial; overflow:hidden;}
.benefits .bf_item { height:80px; margin:6px 0;}
.benefits .bf_item li { float:left; position:relative;}
.benefits .bf_item .s { display:block; position:absolute; overflow:hidden; left:0; top:0;}
.benefits .item_01 { width:320px;}
.benefits .item_02 { width:300px;}
.benefits .item_03 { width:325px;}
.benefits .item_01 .s { width:76px; height:80px; background-position:0 -30px;}
.benefits .item_02 .s { width:65px; height:80px; background-position:-77px -30px;}
.benefits .item_03 .s { width:90px; height:80px; background-position:-143px -30px;}
.benefits .bf_item .txt { position:relative; display:block; line-height:24px;}
.benefits .item_01 .txt { margin:10px 0 0 85px;}
.benefits .item_02 .txt { margin:10px 0 0 70px;}
.benefits .item_03 .txt { margin:10px 0 0 100px;}
.step_four { display:block; height:66px; background:url(../Images/step.png) no-repeat 0 0; font:0pt/1000px Arial; overflow:hidden;}
.step_four_2 { background-position:0 -66px;}
.step_four_3 { background-position:0 -132px;}
.step_four_4 { background-position:0 -198px;}
.screening { margin:10px 0 0; position:relative; _height:1%; border:1px solid #ffc44c;}
.screening .hd { height:28px; line-height:28px; padding-left:6px; font-weight:bold; color:#f07207; background-color:#fff8e8;}
.screening .open_close { position:absolute; top:5px; right:5px;}
.screening .open_close .screening_icon { position:absolute; top:0; left:0; display:block; width:8px; height:14px; overflow:hidden; background-position:-233px -30px;}
.screening .open_close .open { background-position:-241px -30px; top:1px;}
.screening .open_close .menu { display:block; position:relative; margin-left:14px;}
.screening .bd { padding:10px 20px;}
.screening .bd .item { padding:4px 0; position:relative;}
.screening .bd .item .s { display:block; width:7px; height:7px; overflow:hidden; background-position:-249px -30px; position:absolute; left:0; top:7px;}
.screening .bd .item .txt { position:relative; margin-left:15px;}
.screening .bd .item .txt a { padding:0 5px;}
.screening .bd .item .txt .select { color:#f50; font-weight:bold;}
.m_filter { border-bottom:2px solid #ea0303;}
.m_filter .item { float:left; display:inline; padding:8px 32px 0 16px; background-position:0 -138px; height:19px; margin-right:2px; position:relative; font:14px/16px Arial;}
.m_filter .item .s { display:block; position:absolute; top:0; right:0; background-position:-307px -44px; overflow:hidden; width:2px; height:27px;}
.m_filter .item .icon { display:block; position:absolute; top:10px; right:15px; overflow:hidden; width:11px; height:10px;}
.m_filter .item .zt_1 { background-position:-256px -30px;}
.m_filter .item .zt_2 { background-position:-267px -30px;}
.m_filter .item .zt_3 { background-position:-289px -30px;}
.m_filter .item .zt_4 { background-position:-278px -30px;}
.m_filter .select { background-position:0 -111px;}
.m_filter .select .s { background-position:-309px -44px;}
.m_filter .item a { color:#cc3300;}
.m_filter .select a { color:#fff; font-weight:bold;}
.m_filter .right_num { position:relative; margin-top:-26px; float:right; display:inline; margin-right:5px;}
.m_filter .right_num .link { background-image:url(../Images/zhaobiao_sp3.png); color:#666; display:inline-block; *display:inline; *zoom:1; width:24px; height:21px; overflow:hidden; text-align:center; line-height:21px; vertical-align:middle;}
.m_filter .right_num .m_1 { background-position:0 0;}
.m_filter .right_num .m_2 { background-position:-24px 0;}
.m_filter .right_num .m_3 { background-position:-48px 0;}
.m_filter .right_num .select { color:#fff; background-image:url(../Images/zhaobiao_sp2.png);}
.list_content {}
.list_content .item { padding:14px 10px 11px; border-bottom:1px dotted #ccc; position:relative; _height:1%;}
.list_content .main { margin:0 150px 0 85px; line-height:22px;}
.list_content .sub { width:73px; height:66px; background-position:-242px -326px; overflow:hidden; position:absolute; left:10px; top:15px; text-align:center;}
.list_content .extra { overflow:hidden; position:absolute; right:10px; top:12px; line-height:22px; width:115px;}
.list_content .sub .hd { color:#fff; display:block; line-height:26px;}
.list_content .sub .bd { color:#f30; font:bold 20px/24px Arial; padding-top:5px; display:block;}
.list_content .sub .bd em { font:normal 12px/24px Arial; color:#999;}
.list_content .main h3 { font:bold 14px/20px Arial; margin-bottom:3px;  -margin-bottom:8px;}
.list_content .main em,.list_content .extra em { color:#9a9a9a;}
.list_content .main .price { color:#f50;}
.list_content .main .huxing { vertical-align:middle; display:inline-block; *display:inline; *zoom:1; width:35px; height:14px; overflow:hidden; font:0pt/1000px Arial; background-position:-234px -86px;}
.list_content .extra p { vertical-align:middle; padding:2px 0; height:18px; overflow:hidden;}
.list_content .extra .zt { vertical-align:middle; display:inline-block; *display:inline; *zoom:1; width:53px; height:17px; font:0pt/1000px Arial; overflow:hidden;}
.list_content .extra .zt_end { background-position:0 -326px;}
.list_content .extra .zt_stop { background-position:-54px -326px;}
.list_content .extra .zt_ing { background-position:-108px -326px;}
.list_content .extra .zt_success { background-position:-162px -326px;}
.woyao_zb { background-position:0 -444px; overflow:hidden; height:262px;}
.woyao_zb .hd { height:36px; text-indent:-9999px; overflow:hidden;}
.woyao_zb .bd .title { padding-left:30px; display:block; height:18px; font:bold 12px/14px Arial; padding-top:7px; color:#a64200;}
.woyao_zb .bd ul { padding:8px 0;}
.woyao_zb .bd li { padding:4px 11px;}
.woyao_zb .bd .menu { display:block; width:218px; height:41px; overflow:hidden; text-indent:-9999em;}
.woyao_zb .bd .user { background-position:0 -707px;}
.woyao_zb .bd .guest { background-position:0 -749px;}
.module_zb { margin-top:10px;}
.module_zb .hd { height:49px; text-indent:-9999em; overflow:hidden;}
.module_zb .tou { background-position:0 -344px;}
.module_zb .zhong { background-position:0 -394px;}
.module_zb .bd { background-color:#fff9f4; border:1px solid #eed9d4; border-top:0 none; padding:0 8px 8px;}
.module_zb .bd li { padding:4px 8px; border-bottom:1px dotted #ccc; line-height:20px;}
.module_zb .bd li p { height:20px; overflow:hidden;}
.zb_phb { padding:4px 8px;}
.zb_phb .item { padding:5px 6px; border-bottom:1px dotted #ccc; position:relative; *zoom:1;}
.zb_phb .item s { display:block; position:absolute; top:6px; left:4px; width:18px; height:15px; font:0pt/1000px Arial; overflow:hidden;}
.zb_phb .item .s_1 { background-position:-297px -402px;}
.zb_phb .item .s_2 { background-position:-297px -431px;}
.zb_phb .item .s_3 { background-position:-297px -460px;}
.zb_phb .item .s_4 { background-position:-297px -489px;}
.zb_phb .item .s_5 { background-position:-297px -518px;}
.zb_phb .item .s_6 { background-position:-297px -547px;}
.zb_phb .item .s_7 { background-position:-297px -576px;}
.zb_phb .item .s_8 { background-position:-297px -605px;}
.zb_phb .item .s_9 { background-position:-297px -634px;}
.zb_phb .item .s_10 { background-position:-297px -663px;}
.zb_phb .item .title { position:relative; margin:0 40px 0 22px; font-weight:normal; height:18px; overflow:hidden;}
.zb_phb .item .title a { color:#555;}
.zb_phb .open .title { font-weight:bold;}
.zb_phb .item .info { padding:3px 5px 3px 22px;}
.zb_phb .item .info .img { float:left; display:inline; margin-right:8px; _margin-right:5px;}
.zb_phb .item .info .img img { vertical-align:top; display:block; padding:1px; border:1px solid #ddd; width:50px; height:50px;}
.zb_phb .item .info .tou { color:#ff3600;}
.zb_phb .item .info .zhong { color:#2b9a00;}
.zb_phb .item .info .ru { color:#555;}
.zb_phb .item .info em { color:#9a9a9a;}
.zb_phb .item .toubiao { position:absolute; right:5px; top:5px; width:50px; text-align:right; color:#ff3600;}
.zb_phb .item .info { display:none;}
.zb_phb .open .info { display:block;}
.zb_phb .open .toubiao { display:none;}
.zb_phb .gs .item .img { float:none;}
.zb_phb .gs .item .img img { width:140px; height:60px;}
.zb_phb .gs .item .info { overflow:hidden; *zoom:1;}
.zb_phb .gs .item .info li { float:left; display:inline; margin-right:5px; padding-top:5px;}

.zb_detail_head { border:1px solid #e8e8e8;}
.zb_detail_head .thd { background-color:#fffbf4; border-bottom:1px solid #e8e8e8; padding:15px 0; position:relative; zoom:1;}
.zb_detail_head .thd .main { margin:0 80px 0 105px; border-left:1px solid #ddd; padding:0 0 20px 15px;}
.zb_detail_head .thd .extra { position:absolute; right:15px; top:15px;}
.zb_detail_head .thd .extra .icon { position:absolute; display:block; width:16px; height:16px; overflow:hidden; left:0; top:0; background-position:-241px -519px;}
.zb_detail_head .thd .extra a { display:block; margin-left:21px; position:relative;}
.zb_detail_head .thd .sub { width:73px; height:66px; background-position:-242px -326px; overflow:hidden; position:absolute; left:15px; top:20px; text-align:center;}
.zb_detail_head .thd .sub .hd { color:#fff; display:block; line-height:26px;}
.zb_detail_head .thd .sub .bd { color:#f30; font:bold 20px/24px Arial; padding-top:5px; display:block;}
.zb_detail_head .thd .sub .bd em { font:normal 12px/24px Arial; color:#999;}
.zb_detail_head .thd .main h2 { font:18px/20px "微软雅黑"; color:#333;}
.zb_detail_head .thd .main p { padding:10px 0 6px;}
.zb_detail_head .thd .main .zt { vertical-align:middle; display:inline-block; *display:inline; *zoom:1; width:53px; height:17px; font:0pt/1000px Arial; overflow:hidden;}
.zb_detail_head .thd .main .zt_end { background-position:0 -326px;}
.zb_detail_head .thd .main .zt_stop { background-position:-54px -326px;}
.zb_detail_head .thd .main .zt_ing { background-position:-108px -326px;}
.zb_detail_head .thd .main .zt_success { background-position:-162px -326px;}
.zb_detail_head .tbd { padding:15px;}
.zb_detail_head .tbd .main { float:left; width:620px;}
.zb_detail_head .tbd .main li { padding:5px 0; font-size:14px; padding-left:15px;}
.zb_detail_head .tbd .huxing { vertical-align:middle; display:inline-block; *display:inline; *zoom:1; width:35px; height:14px; overflow:hidden; font:0pt/1000px Arial; background-position:-234px -86px;}
.zb_detail_head .tbd .main strong { color:#333;}
.zb_detail_head .tbd .main .orange { color:#f50;} 
.zb_detail_head .tbd .main .red { color:#d00;} 
.zb_detail_head .tbd .sub { float:right; width:280px;}
.zb_detail_head .tbd .maps {}
.zb_detail_head .tbd .link { text-align:right; -margin-top:6px;}
.zb_detail_head .tbd .link s { display:inline-block; *display:inline; *zoom:1; width:13px; height:16px; background-position:-242px -393px; vertical-align:middle; margin-right:4px;}
.zb_detail_head .tbd .yzzl { margin-top:10px; background-color:#fffbe1; border:1px solid #febf90; padding:8px;}
.zb_detail_head .tbd .yzzl .hd { position:relative; height:24px; padding-left:22px; color:#444; font-weight:bold;}
.zb_detail_head .tbd .yzzl .hd s { display:block; position:absolute; top:0; left:0; width:16px; height:16px; overflow:hidden; background-position:-256px -393px;}
.zb_detail_head .tbd .yzzl .bd { padding:6px;}
.zb_detail_head .tbd .yzzl .bd .pic { float:left; display:inline; margin-right:10px; -margin-right:7px;}
.zb_detail_head .tbd .yzzl .bd .pic img { display:block; width:50px; height:50px; padding:1px; background-color:#fff; vertical-align:top; border:1px solid #ddd;}
.zb_detail_head .tbd .yzzl .bd .info h3 { font-size:14px;}
.zb_detail_head .tbd .yzzl .bd .info .renzheng { padding:4px 0 6px;}
.zb_detail_head .tbd .yzzl .bd .info .renzheng .no { color:#888;}
.zb_detail_head .tbd .yzzl .bd .info .renzheng .yes { color:#2b9a00;}


.zb_detail_jysm { margin:15px 15px 10px;}
.zb_detail_jysm .hd { border-bottom:2px solid #fe620b;}
.zb_detail_jysm .hd li { float:left; width:96px; height:19px; padding-top:6px; display:inline; margin:4px 3px 0 0; background-position:-90px -795px; text-align:center;}
.zb_detail_jysm .hd li.select { width:88px; height:29px; background-position:0 -791px; font:bold 14px/29px simsun; margin-top:0; padding-top:0;}
.zb_detail_jysm .bd { padding:0 10px 10px; font-size:14px;}
.zb_detail_jysm .bd p{ margin-top:10px;}
.zb_detail_jysm .hd li a { color:#fff;}
.zb_detail_content { position:relative; _height:1%; margin-top:5px;}
.zb_detail_content .hd {}
.zb_detail_content .hd .left { float:left;}
.zb_detail_content .hd .center { float:left; display:inline; margin-left:10px; line-height:20px; font-family:simsun;}
.zb_detail_content .hd .right { float:right;}
.zb_detail_content .pageNavigation {}
.zb_detail_content .filter { margin-top:10px; width:321px; text-align:center;}
.zb_detail_content .filter li { border:1px solid #e0e0e0; border-right:0 none; float:left; width:79px; background-color:#efefef; height:29px; line-height:29px;}
.zb_detail_content .filter .select { background-position:0 -216px; border:1px solid #ee6700; border-right:0 none;}
.zb_detail_content .filter a { color:#555;}
.zb_detail_content .filter .select a { color:#fff;}
.zb_detail_content .filter .last { border-right:1px solid #e0e0e0;}
.zb_detail_content .myTB { margin-top:5px; position:relative; height:27px; width:227px; background-position:0 -821px; overflow:hidden; padding:12px 0 0 15px; font:bold 14px/16px simsun; color:#fff;}
.zb_detail_content .myTB .link { display:block; position:absolute; right:8px; top:8px; width:92px; height:24px; line-height:24px; text-align:center; color:#333333;}
.zb_detail_content .bd .right { float:right;}
.zb_detail_content .bd .item { border:1px solid #cadbea; position:relative; margin-top:10px; *zoom:1;}
.zb_detail_content .bd .item .i_hd { background-color:#eaf4fc; background-position:0 -246px; height:30px; line-height:30px; background-repeat:repeat-x; border-bottom:1px solid #cadbea;}
.zb_detail_content .bd .main { float:right; width:765px; border-left:1px solid #cadbea; padding:0 5px;}
.zb_detail_content .bd .sub { float:left; width:162px; padding:0 5px; text-align:center;}
.zb_detail_content .bd .main .time { float:left; padding-left:25px; background-position:-295px -682px;}
.zb_detail_content .bd .main .modify { float:right;}
.zb_detail_content .bd .i_bd .main { width:745px; padding:20px 15px;}
.table_bj { border-right:1px solid #ffcc99; border-bottom:1px solid #ffcc99;}
.table_bj td { border-left:1px solid #ffcc99; border-top:1px solid #ffcc99; text-align:center; padding:3px; color:#666; font-weight:bold;}
.table_bj .head td { background-position:0 -277px; color:#333; background-repeat:repeat-x;}
.zb_detail_content .bd .baojia .bj_bd { border-top:2px solid #e02702;}
.table_bj .zongjia_icon { vertical-align:middle; margin-left:8px; display:inline-block; *display:inline; *zoom:1; width:16px; height:16px; overflow:hidden; background-position:-299px -782px;}
.table_bj .red { color:#d00;}
.zb_detail_content .bd .zhongbiao { position:absolute; top:140px; right:30px; *zoom:1; width:206px; height:148px; background:url(../Images/i_zhongbiao.png) no-repeat 0 0; overflow:hidden;}
.zb_detail_content .bd .ruwei { position:absolute; top:140px; right:30px; *zoom:1; width:206px; height:148px; background:url(../Images/i_ruwei.png) no-repeat 0 0; overflow:hidden;}
.zb_detail_content .bd .baojia { position:relative; *zoom:1;}
.zb_detail_content .bd .baojia .bj_hd { font-size:14px; color:#333; margin-bottom:5px;}
.zb_detail_content .bd .baojia .bj_hd .s { display:block; position:absolute; top:0; left:0; width:16px; height:16px; overflow:hidden; background-position:-241px -421px;}
.zb_detail_content .bd .baojia .bj_hd .title { display:block; position:relative; margin-left:20px;}
.zb_detail_content .bd .fujian { position:relative; *zoom:1; margin-top:15px; padding:8px; border:1px solid #f1f1f1; background-color:#fafafa;}
.zb_detail_content .bd .fujian .bj_hd { font-size:14px; color:#333; margin-bottom:5px;}
.zb_detail_content .bd .fujian .bj_hd .s { display:block; position:absolute; top:8px; left:8px; width:16px; height:16px; overflow:hidden; background-position:-257px -420px;}
.zb_detail_content .bd .fujian .bj_hd .title { display:block; position:relative; margin-left:20px;}
.zb_detail_content .bd .fujian .bj_bd { padding-left:18px;}
.zb_detail_content .bd .liuyan { position:relative; *zoom:1; margin-top:15px; padding:8px; border:1px solid #f1f1f1; background-color:#fafafa;}
.zb_detail_content .bd .liuyan .bj_hd { font-size:14px; color:#333; margin-bottom:5px;}
.zb_detail_content .bd .liuyan .bj_hd .s { display:block; position:absolute; top:11px; left:9px; width:12px; height:11px; overflow:hidden; background-position:-257px -410px;}
.zb_detail_content .bd .liuyan .bj_hd .title { display:block; position:relative; margin-left:20px;}
.zb_detail_content .bd .liuyan .bj_bd { padding-left:18px; font-size:14px;}
.zb_detail_content .bd .left { float:left;}
.zb_detail_content .bd .bot_info { margin-top:20px;}
.zb_detail_content .bd .bot_info .green,.zb_detail_content .bd .count .green { color:#2b9a00;}
.zb_detail_content .bd .bot_info .orange,.zb_detail_content .bd .count .orange { color:#f30;}
.zb_detail_content .bd .i_bd .sub { background-color:#f8f8f8;}
.zb_detail_content .bd .i_bd { background-color:#f8f8f8;}
.zb_detail_content .bd .i_bd .main { background-color:#fff;}
.zb_detail_content .bd .user_face { margin-top:10px;}
.zb_detail_content .bd .user_face img { padding:1px; border:1px solid #ddd; background-color:#fff;}
.zb_detail_content .bd .gs,.zb_detail_content .bd .rz { margin-top:3px;}
.zb_detail_content .bd .count { margin-top:10px; text-align:left;}
.zb_detail_content .bd .count li { padding:2px 0 2px 20px; color:#999;}
.zb_detail_content .bd .count .menu { padding-top:5px;}
.zb_detail_content .bd .count .black { color:#404040;}
.zb_form { background:url(../Images/zb_header_bg2.jpg) no-repeat 0 0; padding:15px;}
.zb_form h2 { font:20px/28px "黑体"; color:#212121;}
.zb_form .zb_num { margin-top:5px;}
.zb_form .zb_num em { color:#999;}
.tips_jifen { margin-top:10px; border:1px solid #c3d9ff; background-color:#ecf4fd; padding:8px 5px 7px 10px; position:relative; *height:1%;}
.tips_jifen .icon { display:block; position:absolute; top:8px; left:10px; width:16px; height:16px; background-position:-241px -484px;}
.tips_jifen .bd { display:block; position:relative; margin:0 0 0 20px;}
.tips_jifen .bd .red { color:#f30;}
.tips_jifen .bd .blue { color:#36c;}
.tips_jifen .bd .orange { color:#f60;}
.tips_jifen .bd em { font-weight:bold; color:#444;}
.tips_jifen .close_menu { position:absolute; top:4px; right:5px;}
.zb_form .b_hd { position:relative; margin-top:15px; zoom:1;}
.zb_form .b_hd .s { display:block; position:absolute; top:0; left:0;}
.zb_form .b_hd .txt { display:block; position:relative; margin:0 0 0 28px; font:bold 14px/24px Arial; color:#333;}
.zb_form .b_hd .txt em { padding-left:5px; font:normal 12px/24px Arial; color:#888;}
.zb_form .b_hd .txt .font_num { font-weight:bold; color:#333;}
.zb_form .b_hd .baojia { width:16px; height:23px; background-position:-240px -438px;}
.zb_form .b_hd .upload { width:21px; height:16px; background-position:-294px -782px; top:3px;}
.zb_form .b_hd .fujian { width:24px; height:22px; background-position:-257px -438px;}
.zb_form .b_hd .liuyan { width:25px; height:21px; background-position:-241px -462px;}
.zb_form .b_bd .item { display:inline-block; *display:inline; *zoom:1; margin-right:20px; font-size:14px; padding:10px 0;}
.zb_form .b_bd .item .ipt_1 { border:1px solid #cccccc; width:80px; padding:5px; vertical-align:middle; height:16px; overflow:hidden; line-height:16px;}
.zb_form .b_bd .item em { padding-left:5px; font-size:12px; color:#888;}
.zb_form .upfiles { padding:10px 10px 10px 30px;} 
.zb_form .upfiles .upfile { font-size:14px; padding:4px;}
.zb_form .upfujian,.zb_form .comment { padding:10px 0;} 
.zb_form .comment .textarea { width:900px; height:200px; padding:5px; font-size:14px; border:1px solid #dddddd;}
.zb_form .comment .yi { margin-top:4px; color:#888;}
.zb_form .comment .yi em { color:#333; font-weight:bold;}
.zb_form .comment .sumbit { margin-top:20px; border:0 none; width:132px; height:36px; overflow:hidden; font:0pt/1000px Arial; background-position:-138px -916px;}
.zb_form .bor_2px { border-top:2px solid #e02702; margin-top:5px;}
.zb_form .link_download { font-weight:normal;}
.zb_form .txt_download { font-weight:normal; color:#999;} 
.zb_form .zb_form_info { background-color:#f8f8f8; border:1px solid #e6e6e6; padding:6px 10px 5px; margin-top:15px;}
.zb_form .zb_form_info .left { float:left;}
.zb_form .zb_form_info .right { float:right;}
.zb_form .zb_form_info .zt { color:#f30;}
.zb_form .fujian_bd { margin-top:8px; border:1px solid #e6e6e6; background-color:#f6f6f6; padding:15px 15px 12px; font-size:14px;margin:0 auto; text-align:center;}

.zb_form2 { margin-top:10px;}
.zb_form2 .t_hd { font:24px/28px "微软雅黑"; color:#212121; position:relative; *zoom:1; padding-left:24px;}
.zb_form2 .t_hd .s { display:block; width:15px; height:16px; background-position:-256px -502px; overflow:hidden; position:absolute; top:6px; left:2px;}
.zb_form2 .t_title { position:relative; margin-top:-20px; color:#888; text-align:right; line-height:20px;}
.zb_form2 .t_bd { font-size:14px; padding:15px 0;}
.zb_form2 .item { padding:5px 20px; overflow:hidden; *zoom:1; line-height:30px;}
.zb_form2 .item .sp_01 { display:block; float:left; width:80px; text-align:right; _display:inline; padding-right:5px; font-weight:bold; color:#333;}
.zb_form2 .item .sp_02,.zb_form2 .item .sp_03 { display:block; float:left;}
.zb_form2 .item .select_s { padding:5px; vertical-align:middle; border:1px solid #cccccc;}
.zb_form2 .item .input_s { width:140px; padding:3px 5px 2px; vertical-align:middle; border:1px solid #cccccc; vertical-align:middle; line-height:21px; height:21px;}
.zb_form2 .item .maps { _display:inline; margin-left:10px;}
.zb_form2 .item .maps .link { display:block; position:relative; font-size:12px; padding-left:20px; *zoom:1;}
.zb_form2 .item .maps .link s { position:absolute; display:block; top:5px; left:2px; width:13px; height:16px; background-position:-241px -501px;}
.zb_form2 .item .txt { font-size:12px; margin-left:10px; _display:inline; color:#888;}
.zb_form2 .item .file_s { border:1px solid #ddd; padding:4px; width:400px;}
.zb_form2 .item .textarea_s { padding:4px 4px 3px; width:700px; height:100px; border:1px solid #ddd;}
.zb_form2 .item .submit_s { width:186px; height:36px; overflow:hidden; background-position:0 -985px; font:0pt/1000px Arial; zoom:1; text-align:left; cursor:pointer; border:0 none;}
.zb_form2 .item2 { padding:10px;}
.zb_form2 .main { float:right; width:780px; overflow:hidden;}
.zb_form2 .sub { float:left; width:120px;}
.zb_form2 .sub .p_nav { border:1px solid #e6e6e6; background-color:#f6f6f6; text-align:center; padding:5px 0;}
.zb_form2 .sub .p_nav .item_b { line-height:30px; height:30px; position:relative;}
.zb_form2 .sub .p_nav .select { font-weight:bold; background-position:-121px -861px; width:120px; height:30px;}
.zb_form2 .sub .p_nav .select s { display:block; position:absolute; right:-13px; top:0; width:13px; height:30px; background-position:-241px -861px;}
.zb_form2 .sub .p_nav .select a { color:#fff;}
.zb_form2 .sub .p_nav a { color:#404040;}
.zb_form2 .main .hd { font-weight:bold; color:#333; font-size:10.5pt;}
.zb_form2 .main .hd .red { color:#f00;}
.zb_form2 .main .bd .t_item { font-size:12px;}
.zb_form2 .main .bd .t_item .t_textarea { width:500px; height:60px; font:14px/24px Arial; padding:5px; border:1px solid #ddd;}
.zb_form2 .main .bd .t_item h3 { margin:15px 0 3px; font-size:12px; color:#333;}
.zb_form2 .main .bd .t_item .tag { margin:5px 0 0 0;}
.zb_form2 .main .bd .t_item .tag a { margin-right:8px; background-color:#deebfe; border-bottom:1px solid #b8d2f7; border-right:1px solid #b8d2f7; color:#4f73a6; padding:1px 3px;}
.zb_form2 .main .bd .sel { margin-top:20px;}
.zb_form2 .main .bd .sel input { vertical-align:middle; margin-right:4px;}
.zb_form2 .main .bd .t_item .menu { display:inline-block; *display:inline; *zoom:1; font:0pt/1000px Arial; overflow:hidden; margin:15px 8px 0 0;}
.zb_form2 .main .bd .t_item .save { width:129px; height:36px; background-position:0 -1022px;}
.zb_form2 .main .bd .t_item .submit { width:149px; height:36px; background-position:-130px -1022px;}

